body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
button, input.button {
  cursor: pointer;
}
.footer {
  padding-top: 1rem;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-size: 90%;
  margin-top: 2rem;
}
