{% extends "base.html" %}
{% block content %}

  <h1 class="display-4">Anketa</h1>

  <p class="lead">O čem by měl být některý příští <b>PyWorking</b>?</p>

  {% if github_id %}
    <p>
      Jste přihlášeni jako {{ github_login }}.
      <a href="/logout">Odhlásit</a>
    </p>
    <form method="post" action="/add-suggestion">
      <input type="text" name="suggestion" placeholder="Váš návrh">
      <input type="submit" value="Přidat" class="button">
    </form>
  {% else %}
    <p>
      Pro hlasování a zadávání návrhů je potřeba se
      <a href="/login/via-github">přihlásit přes Github</a>.
    </p>
  {% endif %}

  <table class="table" style="margin-top: 1rem; width: unset">
    <tbody>
      {% for suggestion in suggestions %}
        <tr>
          <td style="text-align: right">
            <b>{{ suggestion.vote_count }}</b>
          </td>
          <td>
            {# tlačítka pro hlasování - kliknutí odešle form #}
            <form method="post" action="/vote">
              <input type="hidden" name="suggestion_id" value="{{ suggestion.id }}">
              <div class="btn-group btn-group-sm">

                {# tlačítko pro přidání hlasu #}
                {% if github_id %}
                  {% if suggestion.my_vote > 0 %}
                    <button class="btn btn-primary" name="action" value="reset">
                      <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  </button>
                  {% else %}
                    <button class="btn btn-secondary" name="action" value="upvote">
                      <i class="fa fa-arrow-up" aria-hidden="true" style="color: silver"></i>
                    </button>
                  {% endif %}
                {% else %}
                  {# disabled verze - tlacitko nema byt aktivni #}
                  <button class="btn btn-secondary disabled" disabled>
                    <i class="fa fa-arrow-up" aria-hidden="true" style="color: silver"></i>
                  </button>
                {% endif %}

                {# tlačítko pro odebrání hlasu #}
                {% if github_id %}
                  {% if suggestion.my_vote < 0 %}
                    <button class="btn btn-primary" name="action" value="reset">
                      <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
                  {% else %}
                    <button class="btn btn-secondary" name="action" value="downvote">
                      <i class="fa fa-arrow-down" aria-hidden="true" style="color: silver"></i>
                    </button>
                  {% endif %}
                {% else %}
                  {# disabled verze - tlacitko nema byt aktivni #}
                  <button class="btn btn-secondary disabled" disabled>
                    <i class="fa fa-arrow-up" aria-hidden="true" style="color: silver"></i>
                  </button>
                {% endif %}

              </div>
          </form>
          </td>
          <td>{{ suggestion.title }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <footer class="footer">
    <p>
      Zdrojový kód této aplikace je
      <a href="https://github.com/messa/db-workshop-web-app/tree/dokonceno">na Githubu</a>.
    </p>
  </footer>

{% endblock %}
